<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="itp341.mathur.eshita.finalproject">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="itp341.mathur.eshita.finalproject.BankInfoActivity"/>
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="itp341.mathur.eshita.finalproject.FoodBankActivity"/>
        <activity android:name="itp341.mathur.eshita.finalproject.NewUserActivity"/>
        <activity android:name="itp341.mathur.eshita.finalproject.SearchActivity"/>
        <activity android:name="itp341.mathur.eshita.finalproject.ProfileActivity">
        </activity>
    </application>

</manifest>